pydantic-ai~=1.0.10
a2a-sdk~=0.3.7
allure-python-commons~=2.15.0
python-dotenv~=1.1.1
gunicorn~=23.0.0
google-cloud-logging~=3.12.1
google-cloud-storage~=3.4.0
transformers~=4.56.2
torch~=2.8.0
fastapi~=0.117.1
httpx~=0.28.1
python-dateutil~=2.9.0.post0
requests~=2.32.5
asyncpg
google-generativeai
pytest
pytest-cov
pytest-asyncio
